# Data Science Tools and Ecosystem

## Author

Ana Mendez

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**

+ List popular languages for Data Science
+ List commonly used libraries by Data Scientists
+ Provide examples of arithmetic expressions in Pythin

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Scikit-learn
4. TensorFlow

|Data Science Tools|
|------------------|
|RStudio|
|Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335